html

  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/skeleton.css")
    link(rel="stylesheet", href="css/style.css")
    style.
      html, button, input, select, textarea,
      .pure-g [class *= "pure-u"] {
        /* Set your content font stack here: */
        font-family: Georgia, Times, "Times New Roman", serif;
      }
  body
    div(class="container")
      h1(class="title") Hi there!
      div(class="links")
        a(href="http://blog.brandongonzalez.me") blog
        a(href="http://twitter.com/bg451") twitter
        a(href="mailto:brandon.gonzalez.451@gmail.com") email
        a(href="http://github.com/bg451") github
      p.
        #[strong My name is Brandon Gonzalez.]
        I'm a freshman at Drexel University pursuing a B.S. in Computer Science.
        My main area of interest is distributed systems, specifically
        consensus/consistency stuff, architecture, and databases.

      hr

      h2 Previous Work

      h5
        a(href="http://www.team254.com", class="headlink") Team 254 Robotics
      p
        | I spent a good chunk of my time in highschool doing robotics. Read a
        | lot of C and Java, wrote a lot of C and Java. Became head of programming
        | and controls my junior year and ended up winning the FRC world
        | championship that year. However the long hours on top of school work
        | burned me out, so I decided to leave the team at the end of my junior year.
      h5
       a(href="http://larsonautomation.com", class="headlink") Larson Automation
      p
        | I ended up interning an older hardware company called Larson Automation
        | during my 2014 summer. We built in circuit testing fixtures, which are
        | used to automatically test circuit boards. I worked on embedded C to
        | run those fixtures, wrote a bit of firmware, and rewrote an old C++
        | test log analysis tool in Clojure.

      h5
        a(href="http://iron.io", class="headlink") iron.io
      p
        | I spent the summer working on the internals of a distributed message queue built on top of rocksdb,
        | automatic code generation, and rewriting our metrics backend at a fantastic SaaS company called iron.io
